<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.zls.mapper.BeCommentMapper">
  <resultMap id="BaseResultMap" type="com.huarui.zls.pojo.BeComment">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OrderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="Datee" jdbcType="DATE" property="datee" />
    <result column="EmpID" jdbcType="INTEGER" property="empid" />
    <result column="Comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, OrderNo, Datee, EmpID, Comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from be_comment
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from be_comment
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huarui.zls.pojo.BeComment">
    insert into be_comment (ID, OrderNo, Datee, 
      EmpID, Comment)
    values (#{id,jdbcType=INTEGER}, #{orderno,jdbcType=VARCHAR}, #{datee,jdbcType=DATE}, 
      #{empid,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huarui.zls.pojo.BeComment">
    insert into be_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderno != null">
        OrderNo,
      </if>
      <if test="datee != null">
        Datee,
      </if>
      <if test="empid != null">
        EmpID,
      </if>
      <if test="comment != null">
        Comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="datee != null">
        #{datee,jdbcType=DATE},
      </if>
      <if test="empid != null">
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huarui.zls.pojo.BeComment">
    update be_comment
    <set>
      <if test="orderno != null">
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="datee != null">
        Datee = #{datee,jdbcType=DATE},
      </if>
      <if test="empid != null">
        EmpID = #{empid,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        Comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huarui.zls.pojo.BeComment">
    update be_comment
    set OrderNo = #{orderno,jdbcType=VARCHAR},
      Datee = #{datee,jdbcType=DATE},
      EmpID = #{empid,jdbcType=INTEGER},
      Comment = #{comment,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>