<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.zls.mapper.BeHistoryMapper">
  <resultMap id="BaseResultMap" type="com.huarui.zls.pojo.BeHistory">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OrderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="StepID" jdbcType="INTEGER" property="stepid" />
    <result column="Datee" jdbcType="DATE" property="datee" />
    <result column="EmpID" jdbcType="INTEGER" property="empid" />
    <result column="IsBack" jdbcType="BIT" property="isback" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, OrderNo, StepID, Datee, EmpID, IsBack
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from be_history
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from be_history
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huarui.zls.pojo.BeHistory">
    insert into be_history (ID, OrderNo, StepID, 
      Datee, EmpID, IsBack)
    values (#{id,jdbcType=INTEGER}, #{orderno,jdbcType=VARCHAR}, #{stepid,jdbcType=INTEGER}, 
      #{datee,jdbcType=DATE}, #{empid,jdbcType=INTEGER}, #{isback,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.huarui.zls.pojo.BeHistory">
    insert into be_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderno != null">
        OrderNo,
      </if>
      <if test="stepid != null">
        StepID,
      </if>
      <if test="datee != null">
        Datee,
      </if>
      <if test="empid != null">
        EmpID,
      </if>
      <if test="isback != null">
        IsBack,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="stepid != null">
        #{stepid,jdbcType=INTEGER},
      </if>
      <if test="datee != null">
        #{datee,jdbcType=DATE},
      </if>
      <if test="empid != null">
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="isback != null">
        #{isback,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huarui.zls.pojo.BeHistory">
    update be_history
    <set>
      <if test="orderno != null">
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="stepid != null">
        StepID = #{stepid,jdbcType=INTEGER},
      </if>
      <if test="datee != null">
        Datee = #{datee,jdbcType=DATE},
      </if>
      <if test="empid != null">
        EmpID = #{empid,jdbcType=INTEGER},
      </if>
      <if test="isback != null">
        IsBack = #{isback,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huarui.zls.pojo.BeHistory">
    update be_history
    set OrderNo = #{orderno,jdbcType=VARCHAR},
      StepID = #{stepid,jdbcType=INTEGER},
      Datee = #{datee,jdbcType=DATE},
      EmpID = #{empid,jdbcType=INTEGER},
      IsBack = #{isback,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>