<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.zls.mapper.IvIninvoiceMapper">
  <resultMap id="BaseResultMap" type="com.huarui.zls.pojo.IvIninvoice">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="InvoiceType" jdbcType="INTEGER" property="invoicetype" />
    <result column="StartNo" jdbcType="VARCHAR" property="startno" />
    <result column="EndNo" jdbcType="VARCHAR" property="endno" />
    <result column="Counts" jdbcType="INTEGER" property="counts" />
    <result column="InDate" jdbcType="DATE" property="indate" />
    <result column="InEmpID" jdbcType="INTEGER" property="inempid" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, InvoiceType, StartNo, EndNo, Counts, InDate, InEmpID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from iv_ininvoice
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iv_ininvoice
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huarui.zls.pojo.IvIninvoice">
    insert into iv_ininvoice (ID, InvoiceType, StartNo, 
      EndNo, Counts, InDate, 
      InEmpID)
    values (#{id,jdbcType=INTEGER}, #{invoicetype,jdbcType=INTEGER}, #{startno,jdbcType=VARCHAR}, 
      #{endno,jdbcType=VARCHAR}, #{counts,jdbcType=INTEGER}, #{indate,jdbcType=DATE}, 
      #{inempid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huarui.zls.pojo.IvIninvoice">
    insert into iv_ininvoice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="invoicetype != null">
        InvoiceType,
      </if>
      <if test="startno != null">
        StartNo,
      </if>
      <if test="endno != null">
        EndNo,
      </if>
      <if test="counts != null">
        Counts,
      </if>
      <if test="indate != null">
        InDate,
      </if>
      <if test="inempid != null">
        InEmpID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="invoicetype != null">
        #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="startno != null">
        #{startno,jdbcType=VARCHAR},
      </if>
      <if test="endno != null">
        #{endno,jdbcType=VARCHAR},
      </if>
      <if test="counts != null">
        #{counts,jdbcType=INTEGER},
      </if>
      <if test="indate != null">
        #{indate,jdbcType=DATE},
      </if>
      <if test="inempid != null">
        #{inempid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huarui.zls.pojo.IvIninvoice">
    update iv_ininvoice
    <set>
      <if test="invoicetype != null">
        InvoiceType = #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="startno != null">
        StartNo = #{startno,jdbcType=VARCHAR},
      </if>
      <if test="endno != null">
        EndNo = #{endno,jdbcType=VARCHAR},
      </if>
      <if test="counts != null">
        Counts = #{counts,jdbcType=INTEGER},
      </if>
      <if test="indate != null">
        InDate = #{indate,jdbcType=DATE},
      </if>
      <if test="inempid != null">
        InEmpID = #{inempid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huarui.zls.pojo.IvIninvoice">
    update iv_ininvoice
    set InvoiceType = #{invoicetype,jdbcType=INTEGER},
      StartNo = #{startno,jdbcType=VARCHAR},
      EndNo = #{endno,jdbcType=VARCHAR},
      Counts = #{counts,jdbcType=INTEGER},
      InDate = #{indate,jdbcType=DATE},
      InEmpID = #{inempid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>