<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.zls.mapper.IvInvoiceMapper">
  <resultMap id="BaseResultMap" type="com.huarui.zls.pojo.IvInvoice">
    <id column="InvoiceNo" jdbcType="VARCHAR" property="invoiceno" />
    <result column="InvoiceType" jdbcType="INTEGER" property="invoicetype" />
    <result column="EmpID" jdbcType="INTEGER" property="empid" />
    <result column="InID" jdbcType="INTEGER" property="inid" />
    <result column="OutID" jdbcType="INTEGER" property="outid" />
    <result column="ArchiveID" jdbcType="INTEGER" property="archiveid" />
    <result column="Used" jdbcType="BIT" property="used" />
    <result column="UseDate" jdbcType="DATE" property="usedate" />
    <result column="Invalid" jdbcType="BIT" property="invalid" />
    <result column="InvalidDate" jdbcType="DATE" property="invaliddate" />
    <result column="Archived" jdbcType="BIT" property="archived" />
    <result column="ArchiveDate" jdbcType="DATE" property="archivedate" />
  </resultMap>
  <sql id="Base_Column_List">
    InvoiceNo, InvoiceType, EmpID, InID, OutID, ArchiveID, Used, UseDate, Invalid, InvalidDate, 
    Archived, ArchiveDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from iv_invoice
    where InvoiceNo = #{invoiceno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from iv_invoice
    where InvoiceNo = #{invoiceno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huarui.zls.pojo.IvInvoice">
    insert into iv_invoice (InvoiceNo, InvoiceType, EmpID, 
      InID, OutID, ArchiveID, 
      Used, UseDate, Invalid, InvalidDate, 
      Archived, ArchiveDate)
    values (#{invoiceno,jdbcType=VARCHAR}, #{invoicetype,jdbcType=INTEGER}, #{empid,jdbcType=INTEGER}, 
      #{inid,jdbcType=INTEGER}, #{outid,jdbcType=INTEGER}, #{archiveid,jdbcType=INTEGER}, 
      #{used,jdbcType=BIT}, #{usedate,jdbcType=DATE}, #{invalid,jdbcType=BIT}, #{invaliddate,jdbcType=DATE}, 
      #{archived,jdbcType=BIT}, #{archivedate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.huarui.zls.pojo.IvInvoice">
    insert into iv_invoice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="invoiceno != null">
        InvoiceNo,
      </if>
      <if test="invoicetype != null">
        InvoiceType,
      </if>
      <if test="empid != null">
        EmpID,
      </if>
      <if test="inid != null">
        InID,
      </if>
      <if test="outid != null">
        OutID,
      </if>
      <if test="archiveid != null">
        ArchiveID,
      </if>
      <if test="used != null">
        Used,
      </if>
      <if test="usedate != null">
        UseDate,
      </if>
      <if test="invalid != null">
        Invalid,
      </if>
      <if test="invaliddate != null">
        InvalidDate,
      </if>
      <if test="archived != null">
        Archived,
      </if>
      <if test="archivedate != null">
        ArchiveDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="invoiceno != null">
        #{invoiceno,jdbcType=VARCHAR},
      </if>
      <if test="invoicetype != null">
        #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="empid != null">
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="inid != null">
        #{inid,jdbcType=INTEGER},
      </if>
      <if test="outid != null">
        #{outid,jdbcType=INTEGER},
      </if>
      <if test="archiveid != null">
        #{archiveid,jdbcType=INTEGER},
      </if>
      <if test="used != null">
        #{used,jdbcType=BIT},
      </if>
      <if test="usedate != null">
        #{usedate,jdbcType=DATE},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=BIT},
      </if>
      <if test="invaliddate != null">
        #{invaliddate,jdbcType=DATE},
      </if>
      <if test="archived != null">
        #{archived,jdbcType=BIT},
      </if>
      <if test="archivedate != null">
        #{archivedate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huarui.zls.pojo.IvInvoice">
    update iv_invoice
    <set>
      <if test="invoicetype != null">
        InvoiceType = #{invoicetype,jdbcType=INTEGER},
      </if>
      <if test="empid != null">
        EmpID = #{empid,jdbcType=INTEGER},
      </if>
      <if test="inid != null">
        InID = #{inid,jdbcType=INTEGER},
      </if>
      <if test="outid != null">
        OutID = #{outid,jdbcType=INTEGER},
      </if>
      <if test="archiveid != null">
        ArchiveID = #{archiveid,jdbcType=INTEGER},
      </if>
      <if test="used != null">
        Used = #{used,jdbcType=BIT},
      </if>
      <if test="usedate != null">
        UseDate = #{usedate,jdbcType=DATE},
      </if>
      <if test="invalid != null">
        Invalid = #{invalid,jdbcType=BIT},
      </if>
      <if test="invaliddate != null">
        InvalidDate = #{invaliddate,jdbcType=DATE},
      </if>
      <if test="archived != null">
        Archived = #{archived,jdbcType=BIT},
      </if>
      <if test="archivedate != null">
        ArchiveDate = #{archivedate,jdbcType=DATE},
      </if>
    </set>
    where InvoiceNo = #{invoiceno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huarui.zls.pojo.IvInvoice">
    update iv_invoice
    set InvoiceType = #{invoicetype,jdbcType=INTEGER},
      EmpID = #{empid,jdbcType=INTEGER},
      InID = #{inid,jdbcType=INTEGER},
      OutID = #{outid,jdbcType=INTEGER},
      ArchiveID = #{archiveid,jdbcType=INTEGER},
      Used = #{used,jdbcType=BIT},
      UseDate = #{usedate,jdbcType=DATE},
      Invalid = #{invalid,jdbcType=BIT},
      InvalidDate = #{invaliddate,jdbcType=DATE},
      Archived = #{archived,jdbcType=BIT},
      ArchiveDate = #{archivedate,jdbcType=DATE}
    where InvoiceNo = #{invoiceno,jdbcType=VARCHAR}
  </update>
  <select id="selectByempid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from iv_invoice
    where EmpID = #{invoiceno,jdbcType=VARCHAR} and Used =0 and  Invalid = 0 and Archived =0
  </select>
  <update id="updUsed" parameterType="com.huarui.zls.pojo.IvInvoice"  >
update iv_invoice set Used = #{used,jdbcType=BIT},UseDate = #{usedate,jdbcType=DATE} where InvoiceNo = #{invoiceno,jdbcType=VARCHAR}
  </update>
</mapper>