<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.zls.mapper.PyBillMapper">
  <resultMap id="BaseResultMap" type="com.huarui.zls.pojo.PyBill">
    <id column="BillNo" jdbcType="VARCHAR" property="billno" />
    <result column="ReadID" jdbcType="INTEGER" property="readid" />
    <result column="UserNo" jdbcType="VARCHAR" property="userno" />
    <result column="CreateDate" jdbcType="DATE" property="createdate" />
    <result column="BillMoney" jdbcType="DOUBLE" property="billmoney" />
    <result column="RealMoney" jdbcType="DOUBLE" property="realmoney" />
    <result column="Balance" jdbcType="BIT" property="balance" />
    <result column="BalanceDate" jdbcType="DATE" property="balancedate" />
  </resultMap>
  <sql id="Base_Column_List">
    BillNo, ReadID, UserNo, CreateDate, BillMoney, RealMoney, Balance, BalanceDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from py_bill
    where BillNo = #{billno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from py_bill
    where BillNo = #{billno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huarui.zls.pojo.PyBill">
    insert into py_bill (BillNo, ReadID, UserNo, 
      CreateDate, BillMoney, RealMoney, 
      Balance, BalanceDate)
    values (#{billno,jdbcType=VARCHAR}, #{readid,jdbcType=INTEGER}, #{userno,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=DATE}, #{billmoney,jdbcType=DOUBLE}, #{realmoney,jdbcType=DOUBLE}, 
      #{balance,jdbcType=BIT}, #{balancedate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.huarui.zls.pojo.PyBill">
    insert into py_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billno != null">
        BillNo,
      </if>
      <if test="readid != null">
        ReadID,
      </if>
      <if test="userno != null">
        UserNo,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
      <if test="billmoney != null">
        BillMoney,
      </if>
      <if test="realmoney != null">
        RealMoney,
      </if>
      <if test="balance != null">
        Balance,
      </if>
      <if test="balancedate != null">
        BalanceDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billno != null">
        #{billno,jdbcType=VARCHAR},
      </if>
      <if test="readid != null">
        #{readid,jdbcType=INTEGER},
      </if>
      <if test="userno != null">
        #{userno,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=DATE},
      </if>
      <if test="billmoney != null">
        #{billmoney,jdbcType=DOUBLE},
      </if>
      <if test="realmoney != null">
        #{realmoney,jdbcType=DOUBLE},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=BIT},
      </if>
      <if test="balancedate != null">
        #{balancedate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huarui.zls.pojo.PyBill">
    update py_bill
    <set>
      <if test="readid != null">
        ReadID = #{readid,jdbcType=INTEGER},
      </if>
      <if test="userno != null">
        UserNo = #{userno,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=DATE},
      </if>
      <if test="billmoney != null">
        BillMoney = #{billmoney,jdbcType=DOUBLE},
      </if>
      <if test="realmoney != null">
        RealMoney = #{realmoney,jdbcType=DOUBLE},
      </if>
      <if test="balance != null">
        Balance = #{balance,jdbcType=BIT},
      </if>
      <if test="balancedate != null">
        BalanceDate = #{balancedate,jdbcType=DATE},
      </if>
    </set>
    where BillNo = #{billno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huarui.zls.pojo.PyBill">
    update py_bill
    set ReadID = #{readid,jdbcType=INTEGER},
      UserNo = #{userno,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=DATE},
      BillMoney = #{billmoney,jdbcType=DOUBLE},
      RealMoney = #{realmoney,jdbcType=DOUBLE},
      Balance = #{balance,jdbcType=BIT},
      BalanceDate = #{balancedate,jdbcType=DATE}
    where BillNo = #{billno,jdbcType=VARCHAR}
  </update>
</mapper>