<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huarui.zls.mapper.RdReadMapper">
  <resultMap id="BaseResultMap" type="com.huarui.zls.pojo.RdRead">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ReadYear" jdbcType="INTEGER" property="readyear" />
    <result column="ReadMonth" jdbcType="INTEGER" property="readmonth" />
    <result column="UserNo" jdbcType="VARCHAR" property="userno" />
    <result column="MeterNo" jdbcType="VARCHAR" property="meterno" />
    <result column="MaValue" jdbcType="INTEGER" property="mavalue" />
    <result column="VolumeId" jdbcType="INTEGER" property="volumeid" />
    <result column="VolumeIndex" jdbcType="INTEGER" property="volumeindex" />
    <result column="ReadEmpID" jdbcType="INTEGER" property="readempid" />
    <result column="ReadDate" jdbcType="DATE" property="readdate" />
    <result column="PreValue" jdbcType="INTEGER" property="prevalue" />
    <result column="Enter" jdbcType="BIT" property="enter" />
    <result column="CurValue" jdbcType="INTEGER" property="curvalue" />
    <result column="Dial" jdbcType="BIT" property="dial" />
    <result column="Amount" jdbcType="INTEGER" property="amount" />
    <result column="Formula" jdbcType="VARCHAR" property="formula" />
    <result column="Audit" jdbcType="BIT" property="audit" />
    <result column="AuditEmpID" jdbcType="INTEGER" property="auditempid" />
    <result column="AuditDate" jdbcType="TIMESTAMP" property="auditdate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ReadYear, ReadMonth, UserNo, MeterNo, MaValue, VolumeId, VolumeIndex, ReadEmpID, 
    ReadDate, PreValue, Enter, CurValue, Dial, Amount, Formula, Audit, AuditEmpID, AuditDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rd_read
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rd_read
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huarui.zls.pojo.RdRead">
    insert into rd_read (ID, ReadYear, ReadMonth, 
      UserNo, MeterNo, MaValue, 
      VolumeId, VolumeIndex, ReadEmpID, 
      ReadDate, PreValue, Enter, 
      CurValue, Dial, Amount, 
      Formula, Audit, AuditEmpID, 
      AuditDate)
    values (#{id,jdbcType=INTEGER}, #{readyear,jdbcType=INTEGER}, #{readmonth,jdbcType=INTEGER}, 
      #{userno,jdbcType=VARCHAR}, #{meterno,jdbcType=VARCHAR}, #{mavalue,jdbcType=INTEGER}, 
      #{volumeid,jdbcType=INTEGER}, #{volumeindex,jdbcType=INTEGER}, #{readempid,jdbcType=INTEGER}, 
      #{readdate,jdbcType=DATE}, #{prevalue,jdbcType=INTEGER}, #{enter,jdbcType=BIT}, 
      #{curvalue,jdbcType=INTEGER}, #{dial,jdbcType=BIT}, #{amount,jdbcType=INTEGER}, 
      #{formula,jdbcType=VARCHAR}, #{audit,jdbcType=BIT}, #{auditempid,jdbcType=INTEGER}, 
      #{auditdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huarui.zls.pojo.RdRead">
    insert into rd_read
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="readyear != null">
        ReadYear,
      </if>
      <if test="readmonth != null">
        ReadMonth,
      </if>
      <if test="userno != null">
        UserNo,
      </if>
      <if test="meterno != null">
        MeterNo,
      </if>
      <if test="mavalue != null">
        MaValue,
      </if>
      <if test="volumeid != null">
        VolumeId,
      </if>
      <if test="volumeindex != null">
        VolumeIndex,
      </if>
      <if test="readempid != null">
        ReadEmpID,
      </if>
      <if test="readdate != null">
        ReadDate,
      </if>
      <if test="prevalue != null">
        PreValue,
      </if>
      <if test="enter != null">
        Enter,
      </if>
      <if test="curvalue != null">
        CurValue,
      </if>
      <if test="dial != null">
        Dial,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="formula != null">
        Formula,
      </if>
      <if test="audit != null">
        Audit,
      </if>
      <if test="auditempid != null">
        AuditEmpID,
      </if>
      <if test="auditdate != null">
        AuditDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="readyear != null">
        #{readyear,jdbcType=INTEGER},
      </if>
      <if test="readmonth != null">
        #{readmonth,jdbcType=INTEGER},
      </if>
      <if test="userno != null">
        #{userno,jdbcType=VARCHAR},
      </if>
      <if test="meterno != null">
        #{meterno,jdbcType=VARCHAR},
      </if>
      <if test="mavalue != null">
        #{mavalue,jdbcType=INTEGER},
      </if>
      <if test="volumeid != null">
        #{volumeid,jdbcType=INTEGER},
      </if>
      <if test="volumeindex != null">
        #{volumeindex,jdbcType=INTEGER},
      </if>
      <if test="readempid != null">
        #{readempid,jdbcType=INTEGER},
      </if>
      <if test="readdate != null">
        #{readdate,jdbcType=DATE},
      </if>
      <if test="prevalue != null">
        #{prevalue,jdbcType=INTEGER},
      </if>
      <if test="enter != null">
        #{enter,jdbcType=BIT},
      </if>
      <if test="curvalue != null">
        #{curvalue,jdbcType=INTEGER},
      </if>
      <if test="dial != null">
        #{dial,jdbcType=BIT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="formula != null">
        #{formula,jdbcType=VARCHAR},
      </if>
      <if test="audit != null">
        #{audit,jdbcType=BIT},
      </if>
      <if test="auditempid != null">
        #{auditempid,jdbcType=INTEGER},
      </if>
      <if test="auditdate != null">
        #{auditdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huarui.zls.pojo.RdRead">
    update rd_read
    <set>
      <if test="readyear != null">
        ReadYear = #{readyear,jdbcType=INTEGER},
      </if>
      <if test="readmonth != null">
        ReadMonth = #{readmonth,jdbcType=INTEGER},
      </if>
      <if test="userno != null">
        UserNo = #{userno,jdbcType=VARCHAR},
      </if>
      <if test="meterno != null">
        MeterNo = #{meterno,jdbcType=VARCHAR},
      </if>
      <if test="mavalue != null">
        MaValue = #{mavalue,jdbcType=INTEGER},
      </if>
      <if test="volumeid != null">
        VolumeId = #{volumeid,jdbcType=INTEGER},
      </if>
      <if test="volumeindex != null">
        VolumeIndex = #{volumeindex,jdbcType=INTEGER},
      </if>
      <if test="readempid != null">
        ReadEmpID = #{readempid,jdbcType=INTEGER},
      </if>
      <if test="readdate != null">
        ReadDate = #{readdate,jdbcType=DATE},
      </if>
      <if test="prevalue != null">
        PreValue = #{prevalue,jdbcType=INTEGER},
      </if>
      <if test="enter != null">
        Enter = #{enter,jdbcType=BIT},
      </if>
      <if test="curvalue != null">
        CurValue = #{curvalue,jdbcType=INTEGER},
      </if>
      <if test="dial != null">
        Dial = #{dial,jdbcType=BIT},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="formula != null">
        Formula = #{formula,jdbcType=VARCHAR},
      </if>
      <if test="audit != null">
        Audit = #{audit,jdbcType=BIT},
      </if>
      <if test="auditempid != null">
        AuditEmpID = #{auditempid,jdbcType=INTEGER},
      </if>
      <if test="auditdate != null">
        AuditDate = #{auditdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huarui.zls.pojo.RdRead">
    update rd_read
    set ReadYear = #{readyear,jdbcType=INTEGER},
      ReadMonth = #{readmonth,jdbcType=INTEGER},
      UserNo = #{userno,jdbcType=VARCHAR},
      MeterNo = #{meterno,jdbcType=VARCHAR},
      MaValue = #{mavalue,jdbcType=INTEGER},
      VolumeId = #{volumeid,jdbcType=INTEGER},
      VolumeIndex = #{volumeindex,jdbcType=INTEGER},
      ReadEmpID = #{readempid,jdbcType=INTEGER},
      ReadDate = #{readdate,jdbcType=DATE},
      PreValue = #{prevalue,jdbcType=INTEGER},
      Enter = #{enter,jdbcType=BIT},
      CurValue = #{curvalue,jdbcType=INTEGER},
      Dial = #{dial,jdbcType=BIT},
      Amount = #{amount,jdbcType=INTEGER},
      Formula = #{formula,jdbcType=VARCHAR},
      Audit = #{audit,jdbcType=BIT},
      AuditEmpID = #{auditempid,jdbcType=INTEGER},
      AuditDate = #{auditdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>