<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
	<title>湖南省自来水公司营销管理信息系统</title> 
	
	<link rel="stylesheet" href="../../static/css/reset.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../../static/css/text.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../../static/css/form.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../../static/css/buttons.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../../static/css/grid.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../../static/css/layout.css" type="text/css" media="screen" title="no title" />
	
	<link rel="stylesheet" href="../../static/css/ui-darkness/jquery-ui-1.8.12.custom.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../../static/css/plugin/jquery.visualize.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../../static/css/plugin/facebox.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../../static/css/plugin/uniform.default.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="../../static/css/plugin/dataTables.css" type="text/css" media="screen" title="no title" />
	
	<link rel="stylesheet" href="../../static/css/custom.css" type="text/css" media="screen" title="no title">
	
</head> 
 
<body> 

<div id="wrapper">	
	
	<div id="header">
		
		<div class="content_pad">
			<h1><a href="../workspace.html">湖南省自来水公司营销管理信息系统</a></h1>
			
			<ul id="nav">
				
				<li class="nav_dropdown nav_icon">
					<a href="javascript:;"><span class="ui-icon ui-icon-wrench"></span>业扩工程</a>
					
					<div class="nav_menu">			
						<ul>
							<li><a href="uest.html">01 用户申请</a></li>
							<li><a href="it.html">02 初步审核</a></li>
							<li><a href=".html">03 交施工费</a></li>
							<li><a href="lclear.html">04 水费清算</a></li>
							<li><a href="tract.html">05 供水协议</a></li>
							<li><a href="king.html">06 施工竣工</a></li>
							<li><a href="n.html">07 通水停水</a></li>
							<li><a href="e.html">08 档案存档</a></li>
							<li><a href="r.html">工单管理</a></li>
							<li><a href="t.html">终止工单</a></li>
							<li><a href="rtProgress.html">业扩工程进度</a></li>
							<li><a href="rtMoney.html">业扩收费报表</a></li>
						</ul>
						
					</div>
				</li>

				<li class="nav_dropdown nav_icon">
					<a href="javascript:;"><span class="ui-icon ui-icon-person"></span>用户管理</a>
					
					<div class="nav_menu">			
						<ul>
							<li><a href="arch.html">用户查询</a></li>
							<li><a href="d.html">快捷新户</a></li>
							<li><a href="angeName.html">快捷过户</a></li>
							<li><a href="angeBank.html">快捷代扣</a></li>
							<li><a href="angeMeter.html">快捷换表</a></li>
							<li><a href="angeFormula.html">快捷重签</a></li>
							<li><a href="lete.html">快捷销户</a></li>
							<li><a href="portShortcut.html">快捷操作记录</a></li>
							<li><a href="cNum.html">档案号管理</a></li>
							<li><a href="ndMsg.html">短信群发</a></li>
						</ul>
						
					</div>
				</li>

				<li class="nav_dropdown nav_icon">
					<a href="javascript:;"><span class="ui-icon ui-icon-pencil"></span>抄表管理</a>
					
					<div class="nav_menu">			
						<ul>
							<li><a href="me.html">表册管理</a></li>
							<li><a href=".html">抄表初始化</a></li>
							<li><a href=".html">任务分配</a></li>
							<li><a href="r.html">抄表录入</a></li>
							<li><a href="t.html">抄表审核</a></li>
							<li><a href="rtReading.html">抄表情况查询</a></li>
							<li><a href="rtVolumeReading.html">抄表统计报表</a></li>
							<li><a href="rtZero.html">零吨位用户查询</a></li>
							<li><a href="rtMaxValue.html">最大码值修正记录</a></li>
							<li><a href="rtCPreAmount.html">底码修正记录</a></li>
							<li><a href="rtMeterCheck.html">水表周检报表</a></li>
						</ul>
						
					</div>
				</li>
				
				<li class="nav_dropdown nav_icon">
					<a href="javascript:;"><span class="ui-icon ui-icon-star"></span>收费管理</a>
					
					<div class="nav_menu">			
						<ul>
							<li><a href="dow.html">窗口收费</a></li>
							<li><a href="ch.html">批量收费</a></li>
							<li><a href="oiceReprint.html">发票补开/作废</a></li>
							<li><a href="ortDebts.html">欠费报表</a></li>
							<li><a href="ortPay.html">收费情况报表</a></li>
							<li><a href="ortMonthRecycle.html">月资金回收情况报表</a></li>
							<li><a href="ortBalance.html">用户预收情况报表</a></li>
							<li><a href="ortWaterType.html">各类用水统计总表</a></li>
						</ul>
						
					</div>
				</li>
				
				<li class="nav_dropdown nav_icon">
					<a href="javascript:;"><span class="ui-icon ui-icon-script"></span>发票管理</a>
					
					<div class="nav_menu">			
						<ul>
							<li><a href="oiceManage.html">发票总表</a></li>
							<li><a href="oiceIn.html">发票入库</a></li>
							<li><a href="oiceOut.html">发票出库</a></li>
							<li><a href="oiceArchive.html">发票交票</a></li>
							<li><a href="oiceReportOut.html">发票出库情况查询</a></li>
							<li><a href="oiceReportEmp.html">收费人员发票查询</a></li>
							<li><a href="oiceReportArchive.html">发票交票情况查询</a></li>
							<li><a href="oiceReportUse.html">发票使用情况查询</a></li>
							<li><a href="oiceReportMoneySum.html">销账汇总报表</a></li>
							<li><a href="oiceReportMoneyDetail.html">销账明细报表</a></li>
						</ul>
					</div>
				</li>

				<li class="nav_dropdown nav_icon">
					<a href="javascript:;"><span class="ui-icon ui-icon-gear"></span>系统设置</a>
					
					<div class="nav_menu">			
						<ul>
							<li><a href="a.html">抄表辖区</a></li>
							<li><a href="erType.html">水表型号</a></li>
							<li><a href="t.html">部门管理</a></li>
							<li><a href=".html">员工管理</a></li>
							<li><a href="upower.html">菜单权限设置</a></li>
							<li><a href="apower.html">辖区权限设置</a></li>
							<li><a href="erType.html">用水类型设定</a></li>
							<li><a href="charge.html">附加费设定</a></li>
							<li><a href="w.html">流程配置</a></li>
						</ul>
						
					</div>
				</li>
				
				<li class="nav_current nav_dropdown nav_icon_only">
					<a href="javascript:;">&nbsp;</a>
					
					<div class="nav_menu">
						<ul>
							<li><a href="../workspace.html">我的工作台</a></li>
							<li><a href=".html">修改密码</a></li>
							<li><a href="../login.html">退出系统</a></li>
						</ul>
					</div> <!-- .menu -->
				</li>
			</ul>
		</div> <!-- .content_pad -->
		
	</div> <!-- #header -->	
	
	<div id="masthead">
		<div>
			<span id="pagetitle"><a href="javascript:;">施工竣工</a></span>
			<span id="welcome_span">欢迎回来，马云</span>
		</div>
	</div> <!-- #masthead -->	
	
	<div id="content" class="xgrid">
		
 		
		<div class="x12">
			
			<h2>
				施工竣工 - <a href="rInfo.html?id=B1-20140105-0001" target="orderInfo">B1-201412-0003</a>
				<a style="float:right" href="javascript:history.back(-1);">返回</a>
			</h2>
			
			<div class="buttonrow">
				<button class="btn-icon btn-arrow-left btn-red" 
					onclick="showDialog('确认撤回吗？');"><span></span>撤回</button>
				<button class="btn-icon btn-arrow-right btn-blue" 
					onclick="showDialog('确认发送吗？');"><span></span>发送</button>
			</div>
			
<table width="100%">
<thead>
	<tr>
		<th width="60"></th>
		<th width="220"></th>
		<th width="60"></th>
		<th width="220"></th>
		<th width="60"></th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>用户名称</td>
		<td><input readonly="readonly" value="张三" /></td>
		<td>所属辖区</td>
		<td><select style="width:156px;">
			<option>城东区</option>
			<option>城南区</option>
			<option>城西区</option>
			<option>城北区</option>
			<option>新开发区</option>
			<option>旧城区</option>
			<option>特别商户区</option>
		</select></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>开工日期</td>
		<td><input value="" onClick="WdatePicker();"  /></td>
		<td>竣工日期</td>
		<td><input value="" onClick="WdatePicker();" /></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</tbody>
</table>

<table class="data display">
<thead>
	<tr>
		<th width="30">序号</th>
		<th width="80">姓名</th>
		<th>表径</th>
		<th>表身码</th>
		<th>最大表码值</th>
		<th>起始码</th>
		<th>水表厂家</th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr class="odd">
		<td>1</td>
		<td>张三</td>
		<td><select style="width:100px;">
				<option>DN10</option>
				<option selected="selected">DN15</option>
				<option>DN20</option>
				<option>DN40</option>
				<option>DN80</option>
				<option>DN100</option>
				<option>DN200</option>
				<option>DN500</option>
				<option>DN1000</option>
			</select></td>
		<td><input size="15" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" value="" /></td>
		<td></td>
	</tr>
	<tr class="even">
		<td>2</td>
		<td>李四</td>
		<td><select style="width:100px;">
				<option>DN10</option>
				<option selected="selected">DN15</option>
				<option>DN20</option>
				<option>DN40</option>
				<option>DN80</option>
				<option>DN100</option>
				<option>DN200</option>
				<option>DN500</option>
				<option>DN1000</option>
			</select></td>
		<td><input size="15" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" value="" /></td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>3</td>
		<td>王五</td>
		<td><select style="width:100px;">
				<option>DN10</option>
				<option selected="selected">DN15</option>
				<option>DN20</option>
				<option>DN40</option>
				<option>DN80</option>
				<option>DN100</option>
				<option>DN200</option>
				<option>DN500</option>
				<option>DN1000</option>
			</select></td>
		<td><input size="15" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" value="" /></td>
		<td></td>
	</tr>
	<tr class="even">
		<td>4</td>
		<td>赵六</td>
		<td><select style="width:100px;">
				<option>DN10</option>
				<option selected="selected">DN15</option>
				<option>DN20</option>
				<option>DN40</option>
				<option>DN80</option>
				<option>DN100</option>
				<option>DN200</option>
				<option>DN500</option>
				<option>DN1000</option>
			</select></td>
		<td><input size="15" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" value="" /></td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>5</td>
		<td>钱七</td>
		<td><select style="width:100px;">
				<option>DN10</option>
				<option selected="selected">DN15</option>
				<option>DN20</option>
				<option>DN40</option>
				<option>DN80</option>
				<option>DN100</option>
				<option>DN200</option>
				<option>DN500</option>
				<option>DN1000</option>
			</select></td>
		<td><input size="15" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" value="" /></td>
		<td></td>
	</tr>
	<tr class="even">
		<td>6</td>
		<td>唐八</td>
		<td><select style="width:100px;">
				<option>DN10</option>
				<option selected="selected">DN15</option>
				<option>DN20</option>
				<option>DN40</option>
				<option>DN80</option>
				<option>DN100</option>
				<option>DN200</option>
				<option>DN500</option>
				<option>DN1000</option>
			</select></td>
		<td><input size="15" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" value="" /></td>
		<td></td>
	</tr>
	<tr class="odd">
		<td>7</td>
		<td>何九</td>
		<td><select style="width:100px;">
				<option>DN10</option>
				<option selected="selected">DN15</option>
				<option>DN20</option>
				<option>DN40</option>
				<option>DN80</option>
				<option>DN100</option>
				<option>DN200</option>
				<option>DN500</option>
				<option>DN1000</option>
			</select></td>
		<td><input size="15" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" value="" /></td>
		<td></td>
	</tr>
	<tr class="even">
		<td>8</td>
		<td>布十</td>
		<td><select style="width:100px;">
				<option>DN10</option>
				<option selected="selected">DN15</option>
				<option>DN20</option>
				<option>DN40</option>
				<option>DN80</option>
				<option>DN100</option>
				<option>DN200</option>
				<option>DN500</option>
				<option>DN1000</option>
			</select></td>
		<td><input size="15" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" class="right" value="" /></td>
		<td><input size="15" value="" /></td>
		<td></td>
	</tr>
</tbody>
</table>

<div class="centerButtons">
	<button class="btn">保存不发送</button>
</div>
			
		</div> <!-- .x12 -->
		
	</div> <!-- #content -->
	
	<div id="footer">		
		<div class="content_pad">			
			<p>&copy; 2013-11 版权所有 <a href="#">湖南省自来水公司</a>.   技术支持 <a href="#">华瑞教育</a>.</p>
		</div> <!-- .content_pad -->
	</div> <!-- #footer -->
	
</div> <!-- #wrapper -->

<script src="../../static/js/jquery/jquery-1.5.2.min.js"></script>
<script src="../../static/js/jquery/jquery-ui-1.8.12.custom.min.js"></script>
<script src="../../static/js/misc/excanvas.min.js"></script>
<script src="../../static/js/jquery/facebox.js"></script>
<script src="../../static/js/jquery/jquery.visualize.js"></script>
<script src="../../static/js/jquery/jquery.dataTables.min.js"></script>
<script src="../../static/js/jquery/jquery.tablesorter.min.js"></script>
<script src="../../static/js/jquery/jquery.uniform.min.js"></script>
<script src="../../static/js/jquery/jquery.placeholder.min.js"></script>

<script src="../../static/js/widgets.js"></script>
<script src="../../static/js/dashboard.js"></script>

<script type="text/javascript">
	
$(document).ready ( function () 
{
	Dashboard.init ();		
});

</script>

</body> 
 
</html>